/*
Kultmedia.com      
Author: Antonio Cosentino
      
Last Update: 29-11-2022


                                        
              ..OOOOOO..                
         . OOOOOOOOOOOOOOO8..           
   ...OOOOOOOOOOOOOOOOOOOOOOOOO:..      
.8OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO..  
.88888OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO,  
.8888888888OOOOOOOOOOOOOOOOOO.  OOOOO,  
.888888888888888OOOOOO   OOO.  OOOOOO,  
.888888888888888888OOO   OO. .OOOOOOO,  
.888888888888888888OOO   O: .OOOOOOOO,  
.888888888888888888OOO   O  .OOOOOOOO,  
.888888888888888888OOO       .OOOOOOO,  
.888888888888888888OOO    O.   OOOOOO,  
.888888888888888888OOO   OOO.   OOOOO,  
 ~?8888888888888888OOO   OOOO   .OOOO,  
     ~=888888888888OOO   OOOOO. ==~  
         :==8888888OOO   OO==~      
             :~=788OOO==~           
                  
                                        
	  
*/

/* CSS Resets */

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

/* */

.videoContainer {
    width: 140px;
    height: 115px;
}


.kultmedia-logo {
    clip-path: polygon(68.6465600000px 0.0000790883px, 68.6778483750px 0.0021189345px, 74.2652133750px 1.7588706125px, 74.5834461250px 1.8813661250px, 77.4492041250px 2.9348316000px, 137.8750000000px 23.8293938750px, 137.8750000000px 83.8078361250px, 129.9027325000px 86.3290817500px, 128.7749125000px 86.7003487500px, 124.8193930000px 87.9916228750px, 119.5127635000px 80.3633203750px, 104.1527483750px 57.1697062500px, 119.5127635000px 29.8979157500px, 110.9442606250px 32.6112842500px, 108.1286635000px 33.4480415000px, 105.7268862500px 37.5262181250px, 91.3162223750px 65.0092291250px, 90.0666490000px 66.8858402500px, 89.9611655000px 39.1916090000px, 81.9649645000px 41.6821592500px, 80.8316873750px 42.0476353750px, 80.2648011250px 42.2299318750px, 80.3087887500px 68.9404631250px, 80.3285746250px 73.3797487500px, 80.3702846250px 102.3221080000px, 80.3707500000px 102.1635000000px, 90.1747526250px 99.0391776250px, 90.0663832500px 85.1332568750px, 90.0666490000px 84.6527172500px, 90.0666490000px 79.8433935000px, 91.2288383750px 77.6883173750px, 91.3145333750px 77.5577647500px, 91.8436397500px 76.7075843750px, 93.7214351250px 73.4562042500px, 93.9351325000px 73.0856590000px, 94.1489005000px 72.7149957500px, 94.3624827500px 72.3446888750px, 97.2800950000px 67.3082808750px, 113.2486685000px 91.7610928750px, 113.1592500000px 91.6221250000px, 124.7548601250px 87.9114241250px, 124.8193930000px 87.9916228750px, 113.2486685000px 91.7610928750px, 93.8078653750px 97.9879357500px, 91.3895617500px 98.7761406250px, 90.1802466250px 99.1700512500px, 80.3706895000px 102.3218955000px, 80.3706250000px 102.2120000000px, 80.3702846250px 102.3221080000px, 72.3990526250px 104.9463485000px, 72.1182322500px 105.0354765000px, 71.1737806250px 105.3787151250px, 71.0315238750px 105.4318750000px, 69.4081185000px 105.8743535000px, 66.7324758750px 105.0719476250px, 66.5861688750px 105.0123761250px, 65.0264978750px 104.4018156250px, 38.7231501250px 95.3069490000px, 35.2724467500px 94.1110232500px, 0.0000000000px 81.9312248750px, 0.0000000000px 22.1640031250px, 34.1279573750px 11.0830609875px, 68.2640286250px 0.1077290860px, 68.6778483750px 0.0021189345px);
}

video {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredBlock {
    text-align: left;
    max-width: 600px;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 400;
    color: #000c;
    font-size: 20px;
    line-height: 1.3em;
    margin-top: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

span.smallText {
    font-size: 15px;
}

a {
    color: #000c;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px dotted #000c;
}

/* Mobile Specific */
@media only screen and (max-width: 600px) {
    .centeredBlock {
        text-align: center;
    }

    p {
        text-align: left;
    }

}
